<!DOCTYPE html>
<html>

<head>
    <title>
        Log In
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h3>Log In</h3>
            <form action="" method="post" class="well">
                <label for="email"> Enter your email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <span class="email"></span>
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <span class="password"></span>
                <button class="btn btn-primary">Log In</button>
                <a href="/signup">Don't have an account yet? Sign Up</a>
            </form>
        </div>
    </div>

    <script>
        let form = document.querySelector('form')
        form.addEventListener('submit', async (e) => {
            let errPwd = document.querySelector('.password')
               let emailErr = document.querySelector('.email')

               errPwd.innerText = ''
               emailErr.innerText = ''

            e.preventDefault()
            let email = form.email.value
            let password = form.password.value

            let user = JSON.stringify({ email, password })

          try {
              const res = await fetch('/users/login', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: user
              })

              const data = await res.json()
              if(data.message){
                if(data.message == ' invalid password'){
                    errPwd.classList.add('error')
                    errPwd.innerText ='*' + data.message
                }
                else{
                       errPwd.classList.remove('error')
                }
                 if(data.message == 'user not found'){
                    emailErr.classList.add('error')
                     emailErr.innerText = '*' + data.message
                }
                else{
                        emailErr.classList.remove('error')

                }
              }else{
                location.assign('/')
              }
          } catch (err) {
           console.log(err.message);
          }
           
        })
    </script>
</body>

</html>